.gameScreen {
    cursor: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding: var(--cursor-size);
    gap: calc(var(--cell-size) / 4);
}

.gameTitle {
    color: wheat;
    font-size: calc(var(--cell-size) * 0.3);
}