.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border-radius: 30px;
    font-size: 40px;
    background: var(--background-secondary);
    -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell-value--cross {
    color: var(--primary);
}

.cell-value--circle {
    color: var(--secondary);
}

.cell img {
    height: calc(var(--cell-size) - 30px);
    width: calc(var(--cell-size) - 30px);
}