.cursor{
    pointer-events: none;
    position: absolute;
    transform: translate(-50%,-50%);
    z-index: 3;
}

.cursor img{
    height: var(--cursor-size);
    width: var(--cursor-size);
}

@media (max-width: 768px ) {
    .cursor{
        display: none;
    }
}